@import-normalize;
/* bring in normalize.css styles */

@font-face {
  font-family: "Technovier";
  src: url('../fonts/Technovier/Techovier.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: url('../fonts/Muller/MullerRegular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: url('../fonts/Muller/MullerThin.ttf');
  font-weight: 300;
  font-style: normal;
}


/* styles-varibles */

:root {
  --mainBgColor: #013645;
  --addBgColor: #3e3d6b;
  --thirdBgColor: #494b81;
  --mainTextColor: #FFFFFF;
  --addTextColor: rgba(255, 255, 255, 0.5);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Muller', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  border: solid 1px;
  border-radius: 5px;
}

button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color:'#fff'
}

